<!DOCTYPE html>
<html lang="en">

<head>
  <title>Listify</title>
<!-- add icon link to browser tab -->
<link rel = "icon" href =
"https://image.similarpng.com/very-thumbnail/2021/12/Fragment-digital-letter-L-on-transparent-background-PNG.png"
        type = "image/x-icon">

  <meta charset="UTF-8" >
  <meta http-equiv="X-UA-Compatible" content="IE=edge" >
  <meta name="viewport" content="width=device-width, initial-scale=1.0" >

  <!-- CSS Stylesheets -->

  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" />
  <link rel="stylesheet" href="/vendor/border-box.css" />
  <link rel="stylesheet" href="/styles/main.css" />
  <link rel="stylesheet" href="/styles/todo.css" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css" integrity="sha512-MV7K8+y+gLIBoVD59lQIYicR65iaqukzvf/nwasF0nqhPay5w/9lJmVM2hMDcnK1OnMGCdVK+iQrJ7lzPJQd1w==" crossorigin="anonymous" referrerpolicy="no-referrer" />
  <link rel="stylesheet" href="/styles/sidebar.css" />
  <link rel="stylesheet" href="/styles/nav.css" />
  <link rel="stylesheet" href="/styles/sidebar.css" />
  <link rel="stylesheet" href="/styles/nav.css" />

  <!-- Scripts -->
  <script src="/vendor/jquery-3.0.0.js"></script>
  <script defer src="/scripts/app.js"></script>
  <script src="https://kit.fontawesome.com/86149eb7e0.js" crossorigin="anonymous"></script>
  <script defer src="/scripts/tasks.js"></script>

</head>

<!-- PAGE HEADER WITH LOGO-->
<header>
  <%- include('partials/header.ejs') %>
</header>

<body>

  <!-- Text-Box for adding/editing/deleting tasks -->
  <div class="wrapper">

    <div class="due-date">
      <input type="date" placeholder="Due date">
    </div>

    <div class="priority">

      <select class="priority" input type="priority">
        <option value="default">Choose priority</option>
        <option value="4">4</option>
        <option value="3">3</option>
        <option value="2">2</option>
        <option value="1">1</option>
      </select>

    </div>

    <div class="category">
      <select class="priority" input type="priority">
        <option value="default">Choose category</option>
        <option value="Watch"> To Watch </option>
        <option value="Read"> To Read </option>
        <option value="Buy"> To Buy </option>
        <option value="Eat"> To Eat </option>
      </select>
    </div>

    <div class="task-input">
      <input type="text" placeholder="Add a new task">
    </div>


    <div class="controls">
      <div class="filters">
        <span class="active" id="all"></span>
      </div>
      <button class="clear-btn">Clear All</button>
    </div>
    <ul class="task-box"> TEST TEST </ul>

  </div>
</body>

</html>
