body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;

  background: rgb(163, 208, 219);
  background: #f6fff8ff;
}

.wrapper {
  max-width: 800px;
  padding: 28px 100px 30px 100px;
  margin: 137px auto;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 0px rgba(0,0,0,0.1);
}

.login-form {
  background-color: coral;
  padding: 30px;
}

.password {
  background-color: yellowgreen;
  padding: 30px;
}