body {
  display: flex;
  flex-direction: column;
  min-height: 100px;
  background: #f6fff8ff;
}

::selection{
  color: black;
  background: #cce3deff;
}
.wrapper {
  max-width: 900px;
  max-height: 5000px;
  background: #fff;
  border-radius: 7px;
  box-shadow: 0 10px 0px rgba(0,0,0,0.1);
}

.password {
  padding: 20px;
}

.controls {
  padding: 10px;
  align-items: center;
  display: flex;
  justify-content: center;
}
