body {
  font-family: "Lato", sans-serif;
}

.sidebar {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  top: 0;
  left: 0;
  background-color: #6b9080ff;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 60px;
  margin-top: 112px;
  padding-bottom: 112px;
}

.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #cce3deff;
  display: block;
  transition: 0.3s;
}

.sidebar a:hover {
  color: #a4c3b2ff;
}

.openbtn {
  cursor: pointer;
  background-color: #6b9080ff;
  color: white;
  border: none;
}

.toggle {
  width: 250px;
}

.openbtn:hover {
  background-color: #a4c3b2ff;
}

#main {
  transition: margin-left .5s;
  padding: 16px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidenav (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
  .sidebar {padding-top: 15px;}
  .sidebar a {font-size: 18px;}
}
